@font-face {
    font-family: 'cnfont';
    src: url('./font/cn_pixel.ttf') format('truetype');
}

@font-face {
    font-family: 'enfont';
    src: url('./font/en_pixel.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'cnfont', 'enfont', sans-serif;
    background: url('./bg/002.jpg') no-repeat center center fixed;
    background-size: cover; /* 將背景圖片等比例放大，填滿整個視窗 */
}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 每行 5 個 */
    gap: 20px; /* 每個寶可夢之間的間距 */
    padding: 30px; /* 外圍間距 */
    justify-items: center; /* 元素置中 */
}

.pokedex-grid img {
    width: 200px; /* 調整寶可夢圖片大小 */
    height: 300px;
    margin: 30px;
    object-fit: contain; /* 確保圖片等比例縮放 */
}

#pokedex-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 每行 5 個 */
    gap: 20px; /* 每個卡牌之間的間距 */
    padding: 20px; /* 外圍間距 */
    justify-items: center; /* 元素置中 */
    height: 85vh; /* 限制高度為視窗高度的 80% */
    overflow-y: auto; /* 垂直方向可滾動 */
    overflow-x: hidden; /* 禁止水平滾動 */
}

#back-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 200px;
    height: 120px;
    cursor: pointer;
    z-index: 1000;
}

#back-button img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

#back-button img:hover {
    transform: scale(1.2);
}
