.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 每行 5 個 */
    gap: 20px; /* 每個寶可夢之間的間距 */
    padding: 30px; /* 外圍間距 */
    justify-items: center; /* 元素置中 */
}

.pokedex-grid img {
    width: 200px; /* 調整寶可夢圖片大小 */
    height: 300px;
    margin: 30px;
    object-fit: contain; /* 確保圖片等比例縮放 */
}

#pokedex-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 1000;
}

#pokedex-button img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

#pokedex-button img:hover {
    transform: scale(1.2);
}